@{
    ViewData["Title"] = "Home Page";
}
<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-4">Welcome to Employee Management</h1>
        <p class="lead mt-3">A simple and efficient web application to manage employee records. Built with ASP.NET Core and Bootstrap, it allows you to add, update, delete, and view employee information with ease.</p>
        <hr class="my-4">
        <p>Explore the source code on GitHub:</p>
        <a href="https://github.com/NareshSuthar-1/EmployeeManagement" class="btn btn-primary" target="_blank">
            View on GitHub
        </a>
    </div>
</div>